main > ul {
  flex-shrink: 0;
  min-width: 200px;
  width: 35%;
  list-style-type: none;
  color: white;
  border-radius: 10px;
  background: #050505;
  overflow: hidden;
}
main > ul > li {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  cursor: pointer;
}
main > ul > li:first-child {
  margin-top: 10px;
}
main > ul > li:last-child {
  margin-bottom: 10px;
}
main > ul > li > span {
  margin-left: 10px;
}
