.list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-shrink: 0;
  width: 25%;
  margin: 1em 1.25em 1em 0;
  list-style-type: none;
}
.list.mobile .label-item {
  background: var(--bg-mobile);
}
.list > li {
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
  cursor: pointer;
}
.list > .active > .label-item {
  color: var(--text-active-color);
}
.list .label-item {
  max-width: 80%;
  background: var(--bg);
}
.list .active-line {
  height: 1px;
  margin-left: 1em;
  align-self: center;
  flex-grow: 1;
  border-bottom: 1px dotted var(--text-active-color);
}
@media all and (max-width: 1000px) {
  .list {
    width: 160px;
  }
}
