.header {
  flex-shrink: 0;
  margin-bottom: 1rem;
  height: 3rem;
  padding: 0 1rem;
  display: flex;
  gap: 1rem;
  background-color: white;
  border-bottom: 1px solid var(--dark-l-m);
  transition: 0.3s;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.header::-webkit-scrollbar {
  display: none;
}
.header.mobile {
  flex-direction: column;
  gap:unset;
}
.header.expanded {
  height: 106px;
}
.dark-theme .header {
  background-color: #333;
  border-bottom: 1px solid var(--dark);
}