.add-palette-btn-container {
  width: calc(2.5rem * 5);
  padding: 2.5rem;
  box-sizing: content-box;
  position: relative;
}
.add-palette-btn {
  width: 100%;
  margin-top: 2rem;
  height: calc(2rem * 4);
  font-weight: bold;
  color: inherit;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}
a:focus-visible .add-palette-btn-bg {
  outline: 4px solid white;
}



.add-palette-btn-bg {
  position: absolute;
  left: 2.5rem;
  bottom: 2.5rem;
  fill: white;
  border-radius: 5px;
  z-index: -1;
}

.dark-theme .add-palette-btn-bg {
  fill: #444;
}
.dark-theme .add-palette-btn {
  color: white;
}