.add-palette-btn-container {
  width: calc(2.5rem * 5);
  padding: 2.5rem;
  box-sizing: content-box;
  position: relative;
}
.add-palette-btn {
  width: 100%;
  margin-top: 2rem;
  height: calc(2rem * 4);
  font-weight: bold;
  color: inherit;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}



.add-palette-btn-bg {
  position: absolute;
  left: 2.5rem;
  bottom: 2.5rem;
  fill: white;
  border-radius: 5px;
  transform: scale(1);
  transition: 0.2s ease;
  z-index: -1;
}
.add-palette-btn:hover + .add-palette-btn-bg {
  transform: scale(1.05);
  filter: url(#filter);
}

.dark-theme .add-palette-btn-bg {
  fill: #444;
  background-color: #4440;
}
.dark-theme .add-palette-btn:hover + .add-palette-btn-bg {
  background-color: #444f;
}
.dark-theme .add-palette-btn {
  color: white;
}