.add-palette-btn-container {
  position: relative;
  width: calc(2.5rem * 5);
  height: calc(2rem * 5);
  padding: 2.5rem;
  box-sizing: content-box;
}
.add-palette-btn-container > * {
  position: absolute;
  margin-top: 2rem;
  width: calc(2.5rem * 5);
  height: calc(2rem * 4);
}
.add-palette-btn {
  font-weight: bold;
  color: inherit;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}
a:focus-visible .add-palette-btn-bg {
  outline: 4px solid white;
}



.add-palette-btn-bg {
  fill: white;
  border-radius: 5px;
}
.dark-theme .add-palette-btn {
  color: white;
}


.add-palette-shadow-container {
  position: absolute;
  width: 350px;
  height: 300px;
  padding: 2.5rem;
  display: flex;
}
.add-palette-shadow {
  margin-top: 2rem;
  flex-grow: 1;
  opacity: 0;
}