.color-picker-container {
  margin: auto;
}
.picker-hue {
  display: flex;
  width: 320px;
  height: 320px;
  border-radius: 50%;
}
.picker-handler {
  display: flex;
  margin: auto;
  padding: 6px;
  width: 240px;
  height: 240px;
  background: #222;
  border-radius: 50%;
  transform-origin: center;
}
.picker-handler:hover {
  cursor: grab;
}
.picker-handler:active {
  cursor: grabbing;
}