.color-box {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.color-box.color {
  flex-grow: 1;
  width: auto;
}

@media only screen and (max-width: 768px) {
  .color-box.palette {
    width: 25%;
    height: 20%;
  }
}



/*    INFO    */
.color-box-info {
  min-height: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
}
.color-box:hover .color-box-info {
  opacity: 1;
}
.color-box-info-name {
  margin-left: 8px;
  font-family: 'IBM Plex Mono', monospace;
  font-style: italic;
  font-size: 0.6rem;
  line-height: 0.6rem;
}
.color-box-info-more {
  margin: 4px;
  padding: 4px 6px;
  border-radius: 2px;
  font-size: 0.6rem;
  line-height: 0.6rem;
}
.light .color-box-info-name {
  color: var(--light-h);
}
.light .color-box-info-more {
  color: var(--light-m);
  background: var(--light-l);
}
.dark .color-box-info-name {
  color: var(--dark-h);
}
.dark .color-box-info-more {
  color: var(--dark-m);
  background: var(--dark-l);
}



/*    BUTTON    */
.color-box-button {
  margin: auto;
  padding: 0.25rem 0.4rem;
  border-radius: 2px;
  font-size: 0.8rem;
  opacity: 0;
  transition: 0.5s;
}
.color-box:hover .color-box-button {
  opacity: 1;
}
.back .color-box-button {
  color: var(--dark-h);
  border: 1px solid var(--dark-l);
  opacity: 1;
}
.light .color-box-button {
  color: var(--light-m);
  border: 1px solid var(--light-l);
  background: var(--light-l);
}
.dark .color-box-button {
  color: var(--dark-m);
  border: 1px solid var(--dark-l);
  background: var(--dark-l);
}



/* ICON_TRASH */
.icon-trash {
  align-self: flex-end;
  visibility: hidden;
}
.color-box:hover .icon-trash {
  visibility: visible;
}
.dark .icon-trash {
  stroke: var(--dark-h);
}
.light .icon-trash {
  stroke: var(--light-h);
}
