.color-box {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}
.color-box.palette {
  height: 25%;
}
.color-box.color {
  height: 50%;
}

/* @media only screen and (max-width: 560px) {
  .color-box {
    width: 50%;
  }
  .color-box.palette {
    height: calc((100vh - 6em) / 10);
  }
  .color-box.color {
    height: calc((100vh - 6em) / 5);
  }
} */

.color-box-info {
  min-height: 28px;;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.color-box-info-name {
  margin-left: 8px;
  font-family: 'IBM Plex Mono', monospace;
  font-style: italic;
  font-size: 0.6em;
  line-height: 1em;
}
.color-box-info-more {
  margin: 4px;
  padding: 4px 6px;
  border-radius: 2px;
  line-height: 1em;
  font-size: 0.6em;
}
.color-box:hover .color-box-button {
  opacity: 1;
  transition: 0.5s;
}

.color-box:hover .icon-trash {
  visibility: visible;
}
.icon-trash {
  align-self: flex-end;
  visibility: hidden;
}

.color-box-back {
  width: 20%;
  display: flex;
}
.color-box-button {
  margin: auto;
  padding: 0.333em 0.5em;
  border-radius: 2px;
  font-size: 0.8em;
  opacity: 0;
}
.back .color-box-button {
  margin: auto;
  color: var(--dark-h);
  border: 1px solid var(--dark-l);
  opacity: 1;
}



.dark .icon-trash {
  stroke: var(--dark-h);
}
.dark .color-box-button {
  color: var(--dark-m);
  border: 1px solid var(--dark-l);
  background: var(--dark-l);
}
.dark .color-box-info-name {
  color: var(--dark-h);
}
.dark .color-box-info-more {
  color: var(--dark-m);
  background: var(--dark-l);
}

.light .icon-trash {
  stroke: var(--light-h);
}
.light .color-box-button {
  color: var(--light-m);
  border: 1px solid var(--light-l);
  background: var(--light-l);
}
.light .color-box-info-name {
  color: var(--light-h);
}
.light .color-box-info-more {
  color: var(--light-m);
  background: var(--light-l);
}
