.color-box {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.color-box.palette {
  height: 25%;
}
.color-box.color {
  height: 50%;
}

.color-box:hover .icon-trash {
  visibility: visible;
}
.icon-trash {
  align-self: flex-end;
  visibility: hidden;
}

.color-box-back {
  width: 20%;
  display: flex;
}
.color-box-button {
  margin: auto;
  padding: 0.333em 0.5em;
  border-radius: 2px;
  font-size: 0.8em;
  opacity: 0;
}
.color-box-info {
  min-height: 28px;;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.color-box-info-name {
  margin-left: 8px;
  font-family: 'IBM Plex Mono', monospace;
  font-style: italic;
  font-size: 0.6em;
  line-height: 1em;
}
.color-box-info-more {
  margin: 4px;
  padding: 4px 6px;
  border-radius: 2px;
  line-height: 1em;
  font-size: 0.6em;
}
.color-box:hover .color-box-button {
  opacity: 1;
  transition: 0.5s;
}
.color-box-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
  transform: scale(1);
  opacity: 0;
  transition: transform 0s linear 0.4s, opacity 0.3s ease-in 0.1s, visibility 0.4s;
  z-index: 20;
}
.color-box-overlay.copy {
  visibility: visible;
  transform: scale(9);
  opacity: 1;
  transition: transform 0.4s ease-in, opacity 0.2s ease-in;
}

.dark .icon-trash {
  stroke: var(--dark-h);
}
.dark .color-box-button {
  color: var(--dark-m);
  border: 1px solid var(--dark-l);
  background: var(--dark-l);
}

.dark .color-box-info-name {
  color: var(--dark-h);
}
.dark .color-box-info-more {
  color: var(--dark-m);
  background: var(--dark-l);
}
.light .icon-trash {
  stroke: var(--light-h);
}
.light .color-box-button {
  color: var(--light-m);
  border: 1px solid var(--light-l);
  background: var(--light-l);
}
.light .color-box-info-name {
  color: var(--light-h);
}
.light .color-box-info-more {
  color: var(--light-m);
  background: var(--light-l);
}

.back {
  cursor: default;
}
.back .color-box-button {
  margin: auto;
  color: var(--dark-h);
  border: 1px solid var(--dark-l);
  opacity: 1;
}
