.emoji-picker {
  position: absolute;
  top: 60px;
  left: 0;
  width: calc(8 * 2rem + 1rem);
  height: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
  border-radius: 4px;
  background: white;
}

.emoji {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.emoji * {
  display: block;
}
