.emoji-picker {
  position: absolute;
  width: calc(8 * 2rem + 1rem);
  height: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
  border-radius: 4px;
  background: white;
  z-index: 99;
}

.emoji {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.emoji * {
  display: block;
}

.dark-theme .emoji-picker {
  background: var(--dark);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}