.export-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--light);
  display: flex;
}
.dark-theme .export-container {
  background-color: #141414;
  color: var(--light);
}
.export-wrapper {
  margin: auto;
  display: flex;
  align-items: flex-start;
}


.export-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 2px solid var(--dark-l);
  border-radius: 0.5rem;
}
.export-content > p {
  tab-size: 4;
  font-size: 0.6rem;
  white-space: pre-wrap;
  word-break: break-all;
}
.dark-theme .export-content {
  border: 2px solid var(--light-xl);
}

.export-controls {
  display: flex;
  align-items: baseline;
  gap: 1rem;
}
.export-controls > span {
  padding: 0.2rem 0.3rem;
  font-size: 0.8rem;
  color: var(--dark-m-l);
  border-radius: 0.2rem;
}
.dark-theme .export-controls > span {
  color: var(--light-m);
}

.export-icon-close {
  margin: 0.25rem;
  stroke: var(--dark-l-m);
  cursor: pointer;
}
.dark-theme .export-icon-close {
  stroke: var(--light-l);
}