.footer {
  width: 100%;
  height: 2.4rem;
  padding: 1rem 1.5rem;
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 111;
}
.footer * {
  margin-left: 1rem;
}
.footer a {
  font-size: 0.6rem;
  color: var(--dark-ml);
}
