.header {
  width: 100%;
  height: calc((100% - 3rem) / 5);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 111;
}
.header .nav {
  display: flex;
  gap: 0.5rem;
}
.nav-root,
.nav-slash,
.nav-palette-name,
.nav-palette-emoji {
  line-height: 1.25rem;
  color: var(--dark-m);
}
.nav-root, a.nav-palette-name {
  border-bottom: 1px solid var(--dark-l);
}
.nav-palette-name {
  color: var(--dark-h);
}
.nav-palette-emoji {
  font-size: 1.25rem;
  color: black;
}
