.header-nav {
  margin: 1rem 0;
  height: 1rem;
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
  color: var(--dark-m);
}
.header-nav * {
  font-size: inherit;
  width: max-content;
}
.dark-theme .header-nav {
  color: var(--light-m);
}
.nav-link {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
  border-bottom: 1px solid var(--dark-l-m);
  cursor: pointer;
}
.dark-theme .nav-link {
  border-bottom: 1px solid var(--light-l);
}
.nav-current {
  font-weight: 700;
  color: var(--dark-h);
}
.dark-theme .nav-current {
  color: var(--light);
}
.nav-emoji {
  transform: scale(1.25);
  color: black;
}

.menu-icon {
  margin-left: auto;
  cursor: pointer;
}
.header-menu {
  margin-left: auto;
  display: flex;
  justify-content: center;
}
.header-menu.hidden {
  display: none;
}

.mobile .header-menu {
  margin-left: unset;
  margin-bottom: 0.6rem;
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  .header-nav {
    font-size: 0.9rem;
  }
}
