.header {
  margin-bottom: 1rem;
  min-height: 3rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: white;
  border-bottom: 1px solid var(--dark-l-m);
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.header::-webkit-scrollbar {
  display: none;
}
.header * {
  width: max-content;
}
.dark-theme .header {
  background-color: #333;
  border-bottom: 1px solid var(--dark);
}



.header-nav {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
  color: var(--dark-m);
}
.header-nav * {
  font-size: inherit;
}
.dark-theme .header-nav {
  color: var(--light-m);
}
.nav-link, .header-nav a {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
  border-bottom: 1px solid var(--dark-l-m);
}
.dark-theme .nav-link,
.dark-theme .header-nav a {
  border-bottom: 1px solid var(--light-l);
}
.nav-palette-name {
  font-weight: 700;
  color: var(--dark-h);
}
.dark-theme .nav-palette-name {
  color: var(--light);
}
.nav-palette-emoji {
  transform: scale(1.25);
  color: black;
}

.header-menu {
  display: flex;
  margin-left: auto;
}

@media screen and (max-width: 768px) {
  .header-nav {
    font-size: 0.9rem;
  }
}
