.new-palette-container {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  background: var(--dark-l);
  overflow: hidden;
}



.new-palette-content {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}



.new-palette-form {
  padding: 1em;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background: #fff;
}
.new-palette-form > * {
  margin-bottom: 1.5em;
}
.new-palette-form input[type=text] {
  padding: 0.666em 1em;
  width: 100%;
  font-size: 0.8em;
  border: 1px solid var(--dark-l);
  border-radius: 4px;
}
.new-palette-form input[type=text]::placeholder {
  color: var(--dark-m);
}
.new-palette-form input[type=text]:focus {
  border: 1px solid var(--dark-m);
}
.new-palette-form button {
  padding: 0.666em 1em;
  font-size: 0.8em;
  color: var(--dark-h);
  border: 1px solid var(--dark-l);
  border-radius: 4px;
  background: var(--dark-l);
}
.new-palette-form button:hover {
  border: 1px solid var(--dark-m);
  background: white;
}
.new-palette-add.light {
  color: var(--light-h);
}
.chrome-picker {
  margin-bottom: 0.5em !important;
  width: 100% !important;
  box-shadow: none !important;
}



svg.burger-icon {
  margin-right: 1em;
  stroke: var(--dark-h);
  cursor: pointer;
}
