.new-palette-container {
  flex-grow: 1;
  display: flex;
  background: var(--dark-l);
  overflow: hidden;
}
.new-palette-form {
  margin: 0;
  width: 320px;
  background: #fff;
  transition: margin 0.2s ease;
}
.new-palette-form.hidden {
  margin: -320px;
}
.new-palette-content {
  flex-grow: 1;
}
svg.burger-icon {
  margin-right: 1em;
  stroke: var(--dark-h);
  cursor: pointer;
}
