.new-palette-container {
  flex-grow: 1;
  background: var(--dark-l);
  overflow: hidden;
}
.new-palette-form {
  padding: 1em;
  width: 320px;
  height: calc(100% - 6em);
  display: flex;
  align-items: flex-start;
  background: #fff;
  transition: transform 0.2s ease;
  transform: translateX(0);
  position: absolute;
}
.new-palette-form.hidden {
  transform: translateX(-100%);
}
.chrome-picker {
  width: 100% !important;
  box-shadow: none !important;
}
.new-palette-content {
  width: 100%;
  height: 100%;
}
svg.burger-icon {
  margin-right: 1em;
  stroke: var(--dark-h);
  cursor: pointer;
}
