.palette-box {
  width: calc(33% - 4rem);
  min-width: 16rem;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.palette-box-color {
  width: 20%;
  height: 2rem;
}
.palette-box-name {
  width: 100%;
  height: 2rem;
  padding: 0.5rem 0.75rem;
  font-size: 0.8rem;
  color: var(--light-h);
  background: #000;
}
