.palette-box {
  width: 16.5em;
  height: 14em;
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
}
.palette-box-color {
  width: 20%;
  height: 2em;
}
.palette-box-name {
  width: 100%;
  height: 2.5em;
  padding: 0.666em 0.75em;
  font-size: 0.8em;
  color: var(--light-h);
  background: #000;
}
