.color-mode-list {
  display: flex;
  color: var(--dark-m);
  cursor: pointer;
}
.color-mode-list > li {
  padding: 0.25rem 0.4rem;
  font-size: 0.8rem;
  border-radius: 4px;
  border: 1px solid transparent;
}
.color-mode-list > li.active {
  color: var(--dark-h);
  border: 1px solid var(--dark-m);
}
