.slider-container {
  width: calc((100% - 2rem) * 0.4);
  margin-left: 1rem;
}

@media screen and (max-width: 1024px) {
  .slider-container {
    width: calc((100% - 2rem) * 0.6);
  }
}
@media screen and (max-width: 768px) {
  .slider-container {
    width: calc((100% - 2rem) * 0.5);
  }
}
@media screen and (max-width: 428px) {
  .slider-container {
    flex-grow: 1;
    width: auto;
  }
}