.slider-container {

  --handler-size: 2rem;
  --path-size: 6px;

  min-width: 200px;
  min-height: var(--handler-size);
  display: flex;
}
.slider-path {
  position: relative;
  margin: auto;
  width: 100%;
  height: var(--path-size);
  border-radius: calc(var(--path-size) / 2);
  box-shadow:
    0px 0px 4px #FFFFFF,
    inset 0px 2px 8px rgba(0, 0, 0, 0.33);
  
}
.slider-handler {
  position: absolute;
  top: calc(var(--handler-size) / -2 + var(--path-size) / 2);
  left: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  cursor: grab;
}
.slider-handler:active {
  cursor: grabbing;
}