.slider-level {
  width: calc((100% - 2rem) * 0.4);
  margin: 0.7rem 0 0 1rem;
}

@media screen and (max-width: 1024px) {
  .slider-level {
    width: calc((100% - 2rem) * 0.6);
  }
}
@media screen and (max-width: 768px) {
  .slider-level {
    width: calc((100% - 2rem) * 0.5);
  }
}
@media screen and (max-width: 428px) {
  .slider-level {
    flex-grow: 1;
    width: auto;
  }
}



.dark-theme .slider-path {
  box-shadow: inset 0 -2px 8px rgba(255, 255, 255, 0.33);
}
.dark-theme .slider-handler {
  background-color: var(--light);
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.25);
}
.dark-theme .slider-value {
  color: var(--light-m);
}
.dark-theme .slider-min {
  color: var(--light-l);
}
.dark-theme .slider-max {
  color: var(--light-l);
}