.switcher-mode {
  display: flex;
  justify-content: center;
  width: calc(100% * 0.2);
}

@media screen and (max-width: 1024px) {
  .switcher-mode {
    width: calc(100% * 0.4);
  }
}
@media screen and (max-width: 768px) {
  .switcher-mode {
    margin-left: auto;
    padding-left: 1rem;
    width: auto;
  }
}



.dark-theme .switcher {
  background-color: rgba(255, 255, 255, 0.2);
}
.dark-theme .switch-case {
  color: var(--light-m);
}
.dark-theme .switch-case.active {
  color: var(--dark-h);
}
.dark-theme .switch-handler {
  background-color: var(--light);
  box-shadow:
    0px
    calc(var(--height) / 10)
    calc(var(--height) / 5)
    rgba(255, 255, 255, 0.25);
}