.theme-switcher {
  display: flex;
  gap: 0.5rem;
}
.theme-option {
  cursor: pointer;
}
.theme-option:focus-visible {
  outline: 4px solid white;
}
.theme-option.active {
  color: var(--dark-h);
  cursor: default;
}
.dark-theme .theme-option.active {
  color: var(--light-h);
}