/* Rozha One */
@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');
/* EB Garamond weight:400+i,700 */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;1,400;1,700&display=swap');
/* IBM Plex Mono weight:500 */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');

:root {
  --text-main: #111;
  --text-light: #555;
  --wow: #0e9;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  color: var(--text-main);
  box-sizing: border-box;
}
html, body, #root {
  width: 100%;
  display: flex;
}
#root {
  max-width: 1024px;
  margin: auto;
  padding: 0 1em;
  flex-direction: column;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
