.book-item {
  display: flex;
  position: relative;
  margin-bottom: 1em;
  padding: 1em;
}
.book-ellipse {
  width: 80%;
  height: 80%;
  margin: -2em;
  position: absolute;
  border: 1px solid var(--text-light);
  border-radius: 50%;
  z-index: -1;
}
.book-img {
  width: 180px;
  filter: url('#filter');
}
.book-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 2em;
  align-self: stretch;
}
.book-title {
  font-size: 1.6em;
}
.book-author {
  font-style: italic;
  color: var(--text-light);
}
.book-add-item {
  margin-top: 2em;
  padding: 0.333em 1em;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 0.75em;
  color: #fff;
  border-radius: 1em;
  box-shadow: 0 0.5em 1.5em var(--wow);
  background: var(--wow);
  cursor: pointer;
}
