.cart-item {
  display: flex;
  align-items: center;
  min-height: 3em;
  border-bottom: 1px solid var(--text-light);
}
.cart-item-title {
  width: 66.666%;
  flex-shrink: 0;
  flex-grow: 0;
}
.cart-item-price {
  margin: auto;
}
.cart-item button {
  padding: 0.333em 0.75em;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 0.75em;
  border-radius: 1em;
  background: #fff;
  cursor: pointer;
}
