.footer {
  height: 2.4rem;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 111;
}
.footer * {
  font-size: 0.6rem;
  color: var(--dark-m-l);
}
.footer a:focus-visible {
  outline: 4px solid white;
}
.dark-theme .footer * {
  color: var(--light-m)
}