:root {
  --black: #111;
  --grey-dark: #888;
  --grey: #ccc;
  --grey-light: #eee;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 16px;
  font-family: 'IBM Plex Sans', sans-serif;
  color: var(--black);
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
body, #root, nav, .filter, .item {
  display: flex;
}
#root {
  width: 800px;
  margin: 100px auto;
  flex-direction: column;
}
header, nav {
  height: 60px;
}



.done {
  width: 40px;
}
.item-text {
  padding: 20px 0;
  flex-grow: 1;
  line-height: 20px;
}
.delete {
  width: 60px;
}



nav {
  margin-bottom: 40px;
}
.search {
  padding-left: 40px;
  flex-grow: 1;
  color: var(--grey-dark);
  border-bottom: 1px solid var(--grey);
  border-radius: 0;
  -webkit-appearance: none;
}
.search::placeholder {
  color: var(--grey);
}
.filter{
  width: 200px;
  list-style-type: none;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid var(--grey);
}



header {
  padding-left: 40px;
}
