:root {
  --black: #111;
  --grey-dark: #888;
  --grey: #ccc;
  --grey-light: #eee;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 16px;
  font-family: 'IBM Plex Sans', sans-serif;
  color: var(--black);
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
body, #root, nav, .filter, .item, .addItem {
  display: flex;
}
#root {
  width: 800px;
  margin: 100px auto 0 auto;
  flex-direction: column;
}
header, nav {
  height: 60px;
}



.done-icon, .delete-icon, .add-icon {
  width: 40px;
  display: flex;
  cursor: pointer;
}
.done-icon *, .delete-icon *, .add-icon * {
  margin-top: 20px;
}
.item-text, .addItem-text {
  padding: 20px 20px 20px 0;
  flex-grow: 1;
  line-height: 20px;
}
.addItem-text:empty:not(:focus):before{
  content: attr(dataText);
  color: var(--grey);
  cursor: text;
}
.addItem-text:focus:not(:empty):before{
  position: absolute;
  transform: translate(0, -20px);
  content: "Shift + Enter to add";
  font-size: 12px;
  color: var(--grey);
  cursor: default;
}



nav {
  margin-bottom: 40px;
}
.search {
  padding: 20px 20px 20px 40px;
  flex-grow: 1;
  line-height: 20px;
  color: var(--grey-dark);
  border-bottom: 1px solid var(--grey);
  border-radius: 0;
  -webkit-appearance: none;
}
.search::placeholder {
  color: var(--grey);
}
.filter{
  width: 200px;
  list-style-type: none;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid var(--grey);
}



header {
  padding-left: 40px;
}



.hidden {
  visibility: hidden;
}
