.details {
  display: flex;
  flex-grow: 1;
  background: var(--bg);
}
.details.mobile {
  background: var(--bg-mobile);
}
.details > .img {
  flex-shrink: 0;
}
.details > ul {
  margin: 2.5em 0 0 1.5em;
}
.details > ul > li {
  margin-bottom: 0.5em;
}
.details > ul > .title {
  margin-bottom: 1.5em;
}
@media all and (max-width: 750px) {
  .details {
    flex-direction: column;
  }
  .details > ul {
    margin: -1em 0 0 1.5em;
  }
}
