.details {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-grow: 1;
}
.details.mobile > ul {
  background: var(--bg-mobile);
}
.details > .img {
  flex-shrink: 0;
}
.details > ul {
  padding: 2.5em 1.5em 1.5em 1.5em;
  align-self: stretch;
  flex-grow: 1;
  background: var(--bg);
}
.details > ul > li {
  margin-left: -1.5em;
  margin-bottom: 0.5em;
}
.details > ul > .title {
  margin-bottom: 1.5em;
}
@media all and (max-width: 750px) {
  .details {
    flex-direction: column;
  }
  .details > ul {
    padding: 1.5em 1.5em 1.5em 0;
    margin: -2.5em 0 0 0.25em;
    width: calc(160px - 0.5em);
  }
}
