html, body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
}

#root {
  margin: auto;
  font: 16px monospace;
}

.box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  font: inherit;
}
