* {
  margin: 0;
}

html, body {
  height: 100%;
  font: 24px monospace;
}

body, #root, .counter {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
}

#root {
  margin: auto;
  padding-bottom: 1rem; 
  flex-direction: column;
  border: solid 1px #777;
}

p, button, span {
  margin: 1rem 1rem 0 1rem;
  text-align: center;
}

button {
  font: inherit;
}
