.picker-container {
  padding: 40px;
  border-radius: 10px;
}



.picker {
  --hueSize: 240px;
  --a: calc(var(--hueSize) * 0.886);
  --m: 20px;
  --font: 800 18px sans-serif;

  position: relative;
  display: flex;
  width: var(--hueSize);
  height: var(--hueSize);
  border-radius: 50%;
}
.picker:hover {
  cursor: pointer;
}

.picker-labels {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.picker-labels label {
  position: absolute;
  font: var(--font);
}
.picker-labels label:nth-child(1) {
  top: calc(var(--hueSize) + var(--m));
  left: calc(var(--hueSize) / 2);
  transform: translate(-50%, -50%) rotate(calc(180deg * var(--sign)));
}
.picker-labels label:nth-child(2) {
  top: calc(var(--hueSize) / 4 - var(--m) / 2);
  left: calc((var(--hueSize) - var(--a)) / 2 - var(--m) * 0.886);
  transform: translate(-50%, -50%) rotate(calc(-60deg * var(--sign)));
}
.picker-labels label:nth-child(3) {
  top: calc(var(--hueSize) / 4 - var(--m) / 2);
  left: calc((var(--hueSize) - var(--a)) / 2 + var(--a) + var(--m) * 0.886);
  transform: translate(-50%, -50%) rotate(calc(60deg * var(--sign)));
}



.picker-handler {
  margin: auto;
  width: calc(var(--hueSize) * 0.75);
  height: calc(var(--hueSize) * 0.75);
  border-radius: 50%;
}
.picker-handler:hover {
  cursor: grab;
}
.picker-handler:active {
  cursor: grabbing;
}
.picker-handler * {
  pointer-events: none;
}

.picker-handler-view {
  width: 100%;
  height: 100%;
  transition: var(--hueDur);
}
.picker-handler-view > path {
  fill: hsl(var(--hue), 100%, 50%);
  transition: var(--hueDur);
  filter: drop-shadow( 0 0 1.618px hsl(var(--hue), 100%, 33%));
}



.picker-tone {
  width: var(--toneSize);
  height: var(--toneSize);
  position: relative;
  background:
    linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)),
    linear-gradient(90deg,rgba(255,255,255,1), rgba(255,255,255,0)),
    hsl(var(--hue), 100%, 50%);
  transition: var(--toneDur);
  cursor: pointer;
}
.picker-tone-point {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--light-h);
  transition: var(--toneDur);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  pointer-events: none;
}