.random {
  display: flex;
  height: 240px;
  border-radius: 10px;
  color: white;
  background: #050505;
  overflow: hidden;
}
.random > img {
  width: 240px;
  height: 240px;
}
.random > .randomDetails {
  margin: 40px;
}
.randomDetails > ul {
  margin: 20px;
  list-style-type: none;
}
.randomDetails > ul > li {
  margin-top: 10px;
}
