.random {
  display: flex;
  height: 240px;
  border-radius: 10px;
  overflow: hidden;
  background: #050505;
}
.random > img {
  width: 240px;
  height: 240px;
  background: #fff;
}
.random > div {
  margin: 40px;
  color: #eee;
}
.random ul {
  margin: 20px;
  list-style-type: none;
}
.random li {
  margin-top: 10px;
}
