:root {
  --black: #111;
  --grey-dark: #888;
  --grey: #ccc;
  --grey-light: #eee;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 16px;
  font-family: 'IBM Plex Sans', sans-serif;
  color: var(--black);
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
body, #root, nav, .filter, .item, .addItem {
  display: flex;
}
#root {
  width: 800px;
  margin: 100px auto auto auto;
  flex-direction: column;
}
header, nav {
  height: 60px;
}
svg {
  display: block;
}


.item {
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}
.item.hover {
  border-bottom: 1px solid var(--grey-light)
}
.item-text-container, .addItem-text-container {
  flex-grow: 1;
  padding-bottom: 20px;
}


.done-icon, .delete-icon, .add-icon {
  width: 40px;
  cursor: pointer;
}
.focus-flag {
  display: table-cell;
  height: 20px;
  padding: 0 6px 0 6px;
  font-size: 12px;
  vertical-align: middle;
  color: #da0;
  background-color: #fff8c8;
  border-radius: 10px ;
  cursor: pointer;
}
.focus-flag.hidden {
  visibility: hidden;
}
.item-text {
  line-height: 20px;
}
.item-text.focused {
  background-color: #fff8c8;
}
.item-text.done {
  color: var(--grey);
  text-decoration: line-through;
}



.addItem-text {
  line-height: 20px;
}
.addItem-text:empty:not(:focus):before{
  content: attr(dataText);
  color: var(--grey);
  cursor: text;
}
.addItem-hint {
  margin-top: 8px;
  line-height: 12px;
  font-size: 12px;
  color: var(--grey);
}
.addItem-hint.hidden {
  visibility: hidden;
}



nav {
  margin-bottom: 40px;
}
.search {
  padding: 20px 20px 20px 40px;
  flex-grow: 1;
  line-height: 20px;
  color: var(--grey-dark);
  border-bottom: 1px solid var(--grey);
  border-radius: 0;
  -webkit-appearance: none;
}
.search::placeholder {
  color: var(--grey);
}
.filter{
  width: 200px;
  list-style-type: none;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid var(--grey);
}



header {
  padding-left: 40px;
}
footer {
  padding-right: 200px;
  font-size: 12px;
  text-align: right;
  color: var(--grey);
}
footer a {
  font-size: inherit;
  text-decoration: none;
  color: var(--grey);
  border-bottom: 1px dotted var(--grey-dark)
}
