@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@1,300&display=swap');

:root {
  --black: #111;
  --grey-dark: #888;
  --grey: #ccc;
  --grey-light: #eee;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 16px;
  font-family: 'IBM Plex Sans', sans-serif;
  color: var(--black);
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
body, #root, nav, .filter, .item, .addItem {
  display: flex;
}
#root {
  width: 800px;
  min-height: 100%;
  margin: auto;
  padding: 100px 20px 0 20px;
  flex-direction: column;
}
header, nav {
  height: 60px;
}
svg {
  display: block;
}


.item {
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}
.item.hover {
  border-bottom: 1px solid var(--grey-light)
}
.item.focused {
  background-color: #fff8c8;
}
.item.hidden {
  display: none;
}
.item-text-container, .addItem-text-container {
  flex-grow: 1;
  position: relative;
}


.done-icon, .delete-icon, .add-icon {
  width: 40px;
  cursor: pointer;
}
.focus-flag {
  height: 20px;
  position: absolute;
  font-size: 12px;
  color: #da0;
  cursor: pointer;
}
.focus-flag.hidden {
  visibility: hidden;
}
.item-text {
  padding: 20px 20px 20px 0;
  line-height: 20px;
}
.item-text.done {
  color: var(--grey);
  text-decoration: line-through;
}



.addItem-text {
  line-height: 20px;
  padding: 20px 20px 20px 0;
}
.addItem-text:empty:not(:focus):before{
  content: attr(dataText);
  color: var(--grey);
  cursor: text;
}
.addItem-hint {
  position: absolute;
  margin-top: 8px;
  line-height: 12px;
  font-size: 12px;
  color: var(--grey);
}
.addItem-hint.hidden {
  visibility: hidden;
}



nav {
  margin-bottom: 40px;
}
.search {
  padding: 20px 20px 20px 40px;
  flex-grow: 1;
  line-height: 20px;
  color: var(--grey-dark);
  border-bottom: 1px solid var(--grey);
  border-radius: 0;
  -webkit-appearance: none;
}
.search::placeholder {
  color: var(--grey);
}
.filter {
  width: 200px;
  list-style-type: none;
  border-top: 1px solid var(--grey);
}
.filter li {
  flex-grow: 1;
  display: flex;
  cursor: pointer;
}
.filter li span {
  margin: auto;
}
.filter .filtered {
  font-weight: 600;
}



header {
  padding-left: 40px;
  display: flex;
}
header .monthDay {
  font-size: 28px;
  font-family: 'IBM Plex Serif', serif;
}
header .weekDay {
  margin-left: 8px;
  color: var(--grey);
}



footer {
  padding: 20px 200px 20px 0;
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  line-height: 20px;
}
footer * {
  font-size: 12px;
  color: var(--grey);
}
footer a {
  text-decoration: none;
  border-bottom: 1px dotted var(--grey-dark)
}
