/* IBM Plex Sans : Light italic + Regular + Bold */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,300&display=swap');
/* IBM Plex Mono : Regular + Italic */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&display=swap');

:root {
  --light-h: rgba(255, 255, 255, 0.75);
  --light-m: rgba(255, 255, 255, 0.5);
  --light-l: rgba(255, 255, 255, 0.25);
  --dark-h: rgba(0, 0, 0, 0.75);
  --dark-m: rgba(0, 0, 0, 0.5);
  --dark-ml: rgba(0, 0, 0, 0.4);
  --dark-lm: rgba(0, 0, 0, 0.2);
  --dark-l: rgba(0, 0, 0, 0.1);
  --warn: rgba(159, 63, 63, 1);
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 20px;
  line-height: 1rem;
  box-sizing: border-box;
}
html, body, #root {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
}
#root {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-l);
  overflow-y: auto;
}
a {
  text-decoration: none;
  color: inherit;
}
a, button {
  cursor: pointer;
}
ul {
  list-style: none;
}
