/* IBM Plex Sans Regular */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
/* IBM Plex Mono Regular+Italic */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&display=swap');

:root {
  --light-h: rgba(255, 255, 255, 0.75);
  --light-m: rgba(255, 255, 255, 0.5);
  --light-l: rgba(255, 255, 255, 0.25);
  --dark-h: rgba(0, 0, 0, 0.75);
  --dark-m: rgba(0, 0, 0, 0.5);
  --dark-l: rgba(0, 0, 0, 0.1);
  --warn: rgba(159, 63, 63, 1);
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 20px;
  line-height: 1em;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  overscroll-behavior: none;
}
#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: var(--dark-l);
  overflow: scroll;
}
a {
  text-decoration: none;
  color: inherit;
}
a, button {
  cursor: pointer;
}
ul {
  list-style: none;
}
