.home-main {
  flex-grow: 1;
  max-width: 1090px;
  align-self: center;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  filter: url(#filter);
}
.new-palette-button {
  margin-left: auto;
  padding: 0.333em 0.5em;
  font-size: 0.8em;
  color: var(--dark-m);
  border: 1px solid var(--dark-l);
  border-radius: 2px;
  background: var(--dark-l);
}
.new-palette-button:hover {
  color: var(--dark-h);
  border: 1px solid var(--dark-m);
  background: white;
}
svg.filter {
  display: none;
}
