.home-main {
  flex-grow: 1;
  width: 1090px;
  padding: 1rem 1rem 4rem 1rem;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  filter: url(#filter);
}

@media only screen and (max-width: 1090px) {
  .home-main {
    width: 740px;
  }
}

@media only screen and (max-width: 740px) {
  .home-main {
    width: 390px;
  }
}

.home-header {
  width: 100%;
  margin: 3rem 0 2rem 0;
  display: flex;
  align-items: baseline;
  visibility: hidden;
}
.home-header h1 {
  font-size: 2rem;
  line-height: 2.5rem;
}
.home-header span {
  font-style: italic;
  transform: translate(-3.3rem, 1rem);
}
