.content-container {
  position: relative;
  flex-grow: 1;
  display: flex;
  margin: 0 1rem;
  border-radius: 0.5rem;
  overflow: hidden;
}
.controls {
  min-height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem 1rem 1rem;
}



.palette-content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(5, 1fr);
}



.color-content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: auto / 4fr 1fr 4fr;
  gap: 1rem;
}
.light-levels,
.init-color,
.dark-levels {
  display: flex;
  border-radius: 0.5rem;
  overflow: hidden;
}



@media screen and (max-width: 768px) {
  .palette-content {
    grid-template: repeat(5, 1fr) / repeat(4, 1fr);
    grid-auto-flow: column;
  }
  .color-content {
    grid-template: 4fr 1fr 4fr / auto;
  }
  .light-levels,
  .init-color,
  .dark-levels {
    flex-direction: column;
  }
}