.content-container {
  flex-grow: 1;
  margin: 0 1rem;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .content-container {
    flex-direction: column;
  }
}