.content-container {
  position: relative;
  flex-grow: 1;
  display: flex;
  margin: 0 1rem;
}

.palette-content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border-radius: 0.5rem;
  overflow: hidden;
}
.color-content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 1rem;
}
.light-levels,
.init-color,
.dark-levels {
  flex-grow: 1;
  display: flex;
  border-radius: 0.5rem;
  overflow: hidden;
}



@media screen and (max-width: 768px) {
  .palette-content,
  .color-content,
  .light-levels,
  .init-color,
  .dark-levels {
    flex-direction: column;
  }
}