.new-palette-container {
  flex-grow: 1;
  display: flex;
  gap: 1rem;
  padding: 0 1rem;
}



.new-palette-content {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  border-radius: 0.5rem;
  overflow: hidden;
}



svg.burger-icon {
  margin-right: 1rem;
  stroke: var(--dark-h);
  cursor: pointer;
}
.palette-name-form {
  flex-grow: 1;
  display: flex;
  justify-content: baseline;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
}
.palette-name-form .warn-info {
  display: none;
  margin-right: 1rem;
  text-align: right;
  font-size: 0.7rem;
  color: var(--warn);
}
.palette-name-form.warn .warn-info {
  display: block;
}
.input-palette-name {
  display: flex;
  align-items: center;
  width: 414px;
  height: 3rem;
  border-radius: 0.5rem;
  border: 2px solid var(--dark-l);
}
.input-palette-name input {
  flex-grow: 1;
  margin-left: 1rem;
  background-color: transparent;
}
.input-palette-name div {
  padding: 1rem;
  cursor: pointer;
}

.new-palette-header > .hiddenHelper {
  position: absolute;
  visibility: hidden;
  white-space: pre;
  z-index: -100;
}
