.edit-palette-container {
  flex-grow: 1;
  display: flex;
  gap: 1rem;
  padding: 0 1rem;
}



.edit-palette-content {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  overflow: hidden;
}
.edit-palette-content > .color-box {
  height: 25%;
}



svg.burger-icon {
  margin-right: 1rem;
  stroke: var(--dark-h);
  cursor: pointer;
}
.palette-name-form {
  flex-grow: 1;
  display: flex;
  justify-items: baseline;
  align-items: flex-end;
  gap: 1rem;
  padding: 1rem;
}
.palette-name-form .warn-info {
  display: none;
  margin-right: 1rem;
  text-align: right;
  font-size: 0.7rem;
  color: var(--warn);
}
.palette-name-form.warn .warn-info {
  display: block;
}
.input-palette-name {
  display: flex;
  align-items: center;
  width: 414px;
  height: 3rem;
  border-radius: 0.5rem;
  border: 2px solid var(--dark-l);
}
.dark-theme .input-palette-name {
  color: var(--light-h);
  border: 2px solid var(--light-xl);
}
.input-palette-name input {
  color: inherit;
  flex-grow: 1;
  margin-left: 1rem;
  background-color: transparent;
}
.input-palette-name div {
  padding: 1rem;
  cursor: pointer;
}

.edit-palette-header > .hiddenHelper {
  position: absolute;
  visibility: hidden;
  white-space: pre;
  z-index: -100;
}
