.new-palette-container {
  flex-grow: 1;
  display: flex;
  gap: 1rem;
  padding: 0 1rem;
}



.new-palette-content {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  border-radius: 0.5rem;
  overflow: hidden;
}



svg.burger-icon {
  margin-right: 1rem;
  stroke: var(--dark-h);
  cursor: pointer;
}
.new-palette-header .nav {
  width: calc(320px - 1rem);
}
.palette-name-form {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.palette-name-form .warn-info {
  display: none;
  margin-right: 1rem;
  text-align: right;
  font-size: 0.7rem;
  color: var(--warn);
}
.palette-name-form.warn .warn-info {
  display: block;
}
.input-palette-name {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.input-palette-name input {
  margin-left: 1rem;
  min-width: 230px;
}
.input-palette-name div {
  padding: 1rem;
  cursor: pointer;
}
.palette-name-form > button {
  margin-left: 1rem;
  padding: 0.5rem 0.8rem;
  font-size: 0.8rem;
  color: var(--dark-h);
  border: 1px solid var(--dark-l);
  border-radius: 4px;
  background: var(--dark-l);
}
.palette-name-form > button:hover {
  border: 1px solid var(--dark-m);
  background: white;
}

.new-palette-header > .hiddenHelper {
  position: absolute;
  visibility: hidden;
  white-space: pre;
  z-index: -100;
}
