header {
  display: flex;
  flex-shrink: 0;
  height: 5em;
  color: var(--bg);
  justify-content: space-between;
}
nav {
  display: flex;
  justify-content: space-evenly;
}
header > h1 {
  align-self: flex-start;
  color: #111;
  background: var(--text-active-color);
}
nav > div {
  padding: 2em;
  cursor: pointer;
}
@media all and (max-width: 750px) {
  header {
    flex-direction: column;
    height: auto;
  }
  nav {
    align-self: flex-end;
  }
  nav > div {
    padding: 1em;
  }
  header > h1 {
    padding: 0;
    font-size: 1em;
  }
}
