.slider-container {

  --handler-size: 2rem;
  --path-size: 6px;

  min-width: 100px;
  min-height: var(--handler-size);
  display: flex;
  cursor: pointer;
}
.slider-path {
  position: relative;
  margin: auto;
  width: 100%;
  height: var(--path-size);
  border-radius: calc(var(--path-size) / 2);
  box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.33);
}
.slider-handler {
  position: absolute;
  top: calc(var(--handler-size) / -2 + var(--path-size) / 2);
  left: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: grab;
}
.slider-handler:active {
  cursor: grabbing;
}
.label {
  position: absolute;
  font-size: 0.7rem;
  pointer-events: none;
}
.slider-value {
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(50% - 2.6rem));
  color: var(--dark-m);
}
.slider-min {
  transform: translate(-50%, calc(50% - 2.45rem));
  color: var(--dark-l-m);
}
.slider-max {
  transform: translate(50%, calc(50% - 2.45rem));
  color: var(--dark-l-m);
}