h2 {
  font-size: 18px;
}
.active {
  font-weight: bold;
}
.three-scene {
  position: absolute;
}
.app {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 960px;
}
canvas {
  display: block;
}
